#ana_govde {
    height: 590px;
    width: 900px;
}

#main {
    height: 40px;
    width: 900px;
    background-color: yellow;
}

#header {
    height: 100px;
    width: 900px;
    background-color: gray;
}

#content {
    height: 400px;
    width: 600px;
    background-color: brown;
    float: left;
}

#sidebar {
    height: 400px;
    width: 300px;
    background-color: yellow;
    float: right;
}

#footer {
    height: 50px;
    width: 900px;
    background-color: blue;
    float: right;
}
