body {
    background-color: rgb(150, 200, 200);
}

.private {
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
}

.new {
    background-image: url("https://thehbk.com/arkaplan.jpg");
    padding: 20px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:link {
    color: yellow;
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active {
    color: yellow;
    text-decoration: none;
}
